.details {
    display: flex;
}

ul {
    list-style-type: none;
  }

.empty-card {
    height: 300px;
    width: 400px;
    background-color: white;
}

img {
    border-radius: 5px;
}

.add-margin-top {
    margin-top: 20px;
}

.add-margin-left {
    margin-left: 20px;
}