.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: larger;
}

.add-margin-right {
  margin-right: 10px;
}